@tailwind base;

@tailwind components;

@tailwind utilities;

a {
  @apply text-blue-400 hover:text-blue-600 hover:text-purple-600 visited:text-purple-400
}

@font-face {
  font-family: "Mj Handwriting";
  src: url("/fonts/MjHandwriting/MjHandwriting-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

g, path {
  stroke: currentColor;
}

path.nostroke {
  stroke: none;
}

text {
  fill: currentColor;
  font-family: "Mj Handwriting", "sans-serif";
}
